
@{
    Layout = null;
}

<h2>{{species}}'s are Voting!</h2>

<img src="http://2.bp.blogspot.com/-wOtkfEkjCIA/UEKuKvObeiI/AAAAAAAAXJE/8aDI8aw1PN0/s640/Kang_Kodos_Hitchhiking.jpg" alt="Capitol or bust" />


